.paper {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow:  rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: left;
    margin: 0 auto;
  }
  
  .title {
    margin-top: 0;
    color: #646cff; 
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    padding: 10px; 
  
    & > .MuiTypography-root {
      font-weight: normal;
      margin: 0; 
    }
  
    
  }
  