.filter_container {
    display: flex;
    justify-content: center;
    &_card {
        width: 30%;
        padding: 2%;
        display: flex;
        flex-direction: column;
        row-gap: 5%;
        align-items: center;

        .btn {
            margin: 3% 0%;
        }

        .MuiInputBase-root {
            width: 20rem;
        }
    }
}