.annonce {
  margin: 5%;
  padding: 3%;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
  margin-bottom: 20px;

  &_job {
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
  }

  &_body-column {
    display: inline-flex;
    flex-direction: column;
    padding: 0 50px;
  }

  &_body-item {
    margin-bottom: 5px;
    font-weight: normal;
  }
  &_body-item-title {
    font-weight: bolder;
    font-size: large;
  }

  .btn-submit-container {
    display: flex;
    justify-content: center;
  }

  button {
    // margin-top: 20px;
    // margin-left: 40%;
    background-color: #317b93;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
  }
}
